<%namespace name='static' file='static_content.html'/>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      <%block name="title"></%block> | 
    </title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="path_prefix" content="${MITX_ROOT_URL}">

    <%static:css group='base-style'/>
    <link rel="stylesheet" type="text/css" href="${static.url('css/vendor/symbolset.ss-symbolicons-block.css')}" />
    <link rel="stylesheet" type="text/css" href="${static.url('css/vendor/symbolset.ss-standard.css')}" />
    
    <script type="text/javascript" src="${static.url('js/vendor/jquery.min.js')}"></script>

    <%block name="header_extras"></%block>
  </head>

  <body class="<%block name='bodyclass'></%block>">
    <%block name="content"></%block>

    <script src="${static.url('js/vendor/jquery.leanModal.min.js')}"></script>
    <script src="${static.url('js/vendor/symbolset.ss-standard.js')}"></script>
    <script src="${static.url('js/vendor/symbolset.ss-symbolicons.js')}"></script>

    <%block name="jsextra"></%block>
  </body>
</html>