<%inherit file="blank.html" />
<%block name="title">Studio Styleguide</%block>
<%block name="bodyclass">uxdesign styleguide documentation</%block>

<%block name="content">

<div class="wrapper-header wrapper" id="top">
  <header class="primary" role="banner">
    <h1 class="title-1"><a href="#top">edX Studio Design Styleguide</a></h1>
  </header>

  <nav class="nav-page primary" role="navigation">
    <h2 class="sr">Page Navigation</h2>
    <ol>
      <li><a href="#doc-section-colors">Colors</a></li>
      <li><a href="#doc-section-typography">Typography</a></li>
      <li><a href="#doc-section-layout">Layout</a></li>
      <li><a href="#doc-section-buttons">Elements</a></li>
    </ol>
  </nav>
</div>

<div class="wrapper-content wrapper">
  <section class="content">
    <article class="content-primary" role="main">
      <h2 class="title-2">About This Styleguide</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

      <section class="doc-section" id="doc-section-colors">
        <h2 class="title-2">Colors</h2>
      </section>

      <hr class="divide" />

      <section class="doc-section" id="doc-section-typography">
        <h2 class="title-2">Typography</h2>
      </section>

      <hr class="divide" />

      <section class="doc-section" id="doc-section-layout">
        <h2 class="title-2">Layout</h2>
      </section>

      <hr class="divide" />

      <section class="doc-section" id="doc-section-elements">
        <h2 class="title-2">Elements</h2>
      </section>

      <hr class="divide" />


    </article>
  </section>
</div>
</%block>

<%block name="jsextra">
<script type="text/javascript">
  $(document).ready(function() {
    
  });
</script>
</%block>