<%inherit file="base.html" />
<%block name="title">Studio Styleguide</%block>
<%block name="bodyclass">uxdesign styleguide</%block>

<%block name="jsextra">
<script type="text/javascript">
  $(document).ready(function() {
    
    
  });
</script>
</%block>

<%block name="content">
<div class="wrapper-mast wrapper">
  <header class="mast has-actions has-subtitle">
    <div class="title">
      <span class="title-sub">UX Design</span>
      <h1 class="title-1">Alerts &amp; Notifications</h1>
    </div>
  </header>
</div>

<div class="wrapper-content wrapper">
  <section class="content">
    <article class="content-primary" role="main">
      
    </article>
  </section>
</div>
</%block>