// studio animations & keyframes
// ====================

// spin clockwise
@include keyframes(anim-spinCW) {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(359deg));
  }
}

// ====================

// notifications slide up
@include keyframes(anim-notificationsSlideUp) {
  0% {
    @include transform(translateY(0));
  }

  90% {
    @include transform(translateY(-($notification-height)));
  }

  100% {
    @include transform(translateY(-($notification-height*0.99)));
  }
}

// ====================

// notifications slide down
@include keyframes(anim-notificationsSlideDown) {
  0% {
    @include transform(translateY(-($notification-height*0.99)));
  }

  10% {
    @include transform(translateY(-($notification-height)));
  }

  100% {
    @include transform(translateY(0));
  }
}

// ====================

// bounce in
@include keyframes(anim-bounceIn) {
  0% {
    opacity: 0;
    @include transform(scale(0.3));
  }

  50% {
    opacity: 1;
    @include transform(scale(1.05));
  }

  100% {
    @include transform(scale(1));
  }
}

// ====================

// bounce out
@include keyframes(anim-bounceOut) {
  0% {
    @include transform(scale(1));
  }

  50% {
    opacity: 1;
    @include transform(scale(1.05));
  }

  100% {
    opacity: 0;
    @include transform(scale(0.3));
  }
}
